@media only screen and (min-width: 600px) {
    .main-content {
        position: relative;
    }
    .articles {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .toparticle {
        width: 65%;
        font-family: 'Pacifico', cursive;
        letter-spacing: 3px;
    }
    .toparticle img {
        border: 1px solid black;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    .toparticle h2 {
        padding-top: 25px;
        width: 90%;
    }
    .toparticle h2 a {
        color: black;
    }
    .toparticle h2:hover a {
        color: #05abe0;
    }
    .recentarticles {
        padding-top: 10px;
        width: 35%;
    }
    .recentheading {
        text-align: center;
        height: 5%;
    }
    .recentheading h4 {
        padding-top: 15px;
    }
    .recentcontent {
        height: 90%;
    }
    .eachrecentart {
        text-align: center;
    }
    .eachrecentart img {
        border: 1px solid black;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        object-fit: cover;
    }
    .eachrecentart h2 {
        font-size: 20px;
        font-family: 'Akaya Kanadaka', cursive;
        padding-top: 10px;
    }
    .eachrecentart h2 a {
        color: black;
        text-decoration: none;
    }
    .eachrecentart h2:hover a {
        color: #05abe0;
    }
    .eachartinfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .eachartinfo .im,
    .eachartinfo .ia {
        width: 50%;
        height: 100%;
    }
    .eachartinfo .ia .profile {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
    }
    .eachartinfo .preinfo {
        padding-top: 10px;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .eachartinfo .preinfo a {
        width: 15%;
        height: 100%;
    }
    .eachartinfo .preinfo a i {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .main-content {
        position: relative;
    }
    .toparticle {
        text-align: center;
        font-family: 'Pacifico', cursive;
        letter-spacing: 3px;
    }
    .toparticle img {
        height: 300px;
        width: 300px;
        border: 1px solid black;
        border-radius: 50%;
        object-fit: cover;
    }
    .toparticle h2 {
        padding-top: 20px;
    }
    .toparticle h2 a {
        color: black;
    }
    .toparticle h2:hover a {
        color: #05abe0;
    }
    .recentarticles {
        padding-top: 10px
    }
    .recentheading {
        text-align: center;
        height: 5%;
    }
    .recentcontent {
        height: 90%;
    }
    .recentheading h4 {
        padding-top: 15px;
    }
    .eachrecentart {
        text-align: center;
    }
    .eachrecentart img {
        border: 1px solid black;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        object-fit: cover;
    }
    .eachrecentart h2 {
        font-size: 20px;
        font-family: 'Akaya Kanadaka', cursive;
        padding-top: 10px;
    }
    .eachrecentart h2 a {
        color: black;
        text-decoration: none;
    }
    .eachrecentart h2:hover a {
        color: #05abe0;
    }
    .eachartinfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .eachartinfo .im,
    .eachartinfo .ia {
        width: 50%;
        height: 100%;
    }
    .eachartinfo .ia .profile {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
    }
    .eachartinfo .preinfo {
        padding-top: 10px;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .eachartinfo .preinfo a {
        width: 15%;
        height: 100%;
    }
    .eachartinfo .preinfo a i {
        font-size: 20px;
    }
}

.articlesocial {
    display: flex;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #05abe0;
    color: #05abe0;
    font-size: 17px;
    font-family: arial;
    position: relative;
    overflow: hidden;
    background: transparent;
    text-transform: uppercase;
    transition: all .35s;
}

.articlesocial:before,
.articlesocial:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #05abe0;
    z-index: -1;
    transition: all .35s;
}

.articlesocial:before {
    opacity: .5;
}

.articlesocial:after {
    transition-delay: .2s;
}

.articlesocial:hover {
    color: #fff;
}

.morebtn .articlesocial:hover {
    color: black;
}

.articlesocial:hover::before,
.articlesocial:hover::after {
    top: 0;
}