.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #05abe0;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.content-saperator {
    height: 200px;
}

.f1 {
    font-size: 16px;
    font-weight: 600;
}

.f2 {
    padding-top: 10px;
}