.main-page-header {
    position: relative;
    height: 5%;
}

.interview-page-header {
    position: relative;
    height: 5%;
}

.main-content {
    position: relative;
    height: 90%;
}

@media only screen and (min-width: 600px) {
    .wrapper {
        text-align: center;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .artcleicon {
        color: #05abe0;
        display: flex;
        align-items: center;
        width: 10%;
        position: relative;
    }
    .nav2 {
        display: flex;
        justify-content: end;
        width: 90%;
        position: relative;
    }
    .artcleicon .material-icons {
        width: 100%;
        font-size: 30px;
    }
    .nav2 .tabs,
    .nav2 .tabs-interview {
        margin-top: 0px;
        font-size: 15px;
        padding: 0px;
        list-style: none;
        background: #fff;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        border-radius: 50px;
        position: relative;
        width: 82%;
        justify-content: space-evenly;
        overflow-x: hidden;
    }
    .nav2 .search_bar {
        width: 82%;
    }
    .search,
    .navburger {
        width: 9%;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        color: #05abe0;
    }
    .nav2 .tabs a,
    .nav2 .tabs-interview a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        padding: 10px 15px;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition-duration: 0.6s;
        font-weight: 500;
    }
    .nav2 .tabs a.active,
    .nav2 .tabs-interview a.active {
        color: #fff;
    }
    .nav2 .tabs a i,
    .nav2 .tabs-interview a i {
        margin-right: 1px;
    }
    .nav2 .tabs .selector,
    .nav2 .tabs-interview .selector {
        height: 100%;
        display: flex;
        position: absolute;
        justify-content: space-between;
        left: 0px;
        top: 0px;
        width: auto;
        z-index: 1;
        border-radius: 50px;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background: #05abe0;
        background: -moz-linear-gradient(45deg, #05abe0 10%, #015773 100%);
        background: -webkit-linear-gradient(45deg, #05abe0 10%, #015773 100%);
        background: linear-gradient(45deg, #05abe0 10%, #015773 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
    }
    .nav2 .search_bar input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        margin-top: 0px;
        font-size: 15px;
        padding: 0px;
        background-color: transparent;
        position: relative;
        width: 82%;
        overflow-x: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }
    .nav2 .search_bar input:focus {
        outline: none;
    }
}

.search:hover {
    cursor: pointer;
    font-size: 25px;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .artcleicon {
        width: 10%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: #05abe0;
    }
    .nav2 {
        width: 90%;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .nav2 .tabs,
    .nav2 .tabs-interview {
        display: none;
        width: 0%;
    }
    .nav2 .search_bar {
        position: relative;
        width: 60%;
    }
    .nav2 .search_bar input {
        position: relative;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        margin-top: 0px;
        font-size: 15px;
        padding: 0px;
        background-color: transparent;
        position: relative;
        overflow-x: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }
    .nav2 .search_bar input:focus {
        outline: none;
    }
    .search,
    .navburger {
        width: 20%;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        /* padding-right: 20px; */
        color: #05abe0;
    }
}

.search {
    display: flex;
    justify-content: center;
}

.search .material-icons {
    font-size: 25px;
}

.search_btn,
.search_btn_app {
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #05abe0;
    color: #05abe0;
    font-size: 20px;
    font-family: arial;
    position: relative;
    overflow: hidden;
    background: transparent;
    text-transform: uppercase;
    transition: all .35s;
}

.search_btn:before,
.search_btn:after,
.search_btn_app:before,
.search_btn_app:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #05abe0;
    z-index: -1;
    transition: all .35s;
}

.search_btn:before,
.search_btn_app::before {
    opacity: .5;
}

.search_btn:after,
.search_btn_app::after {
    transition-delay: .2s;
}

.search_btn:hover,
.search_btn_app:hover {
    color: #fff;
}

.search_btn:hover::before,
.search_btn:hover::after,
.search_btn_app:hover::before,
.search_btn_app:hover::after {
    top: 0;
}

#navbarNavAltMarkup .fab {
    font-size: 20px;
    color: white;
}

.nav2 .tabs:hover,
.nav2 .tabs-interview:hover {
    cursor: pointer;
}