@media only screen and (min-width:600px) {
    .close a {
        color: white;
        font-size: 35px;
        z-index: 2;
        top: 0;
        right: 0;
        padding: 20px 20px 20px 20px;
        position: absolute;
    }
    .close a:hover {
        cursor: pointer;
        font-size: 40px;
    }
    .close .rotateit {
        color: #ffffff;
        animation-name: rotateitnow;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes rotateitnow {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-180deg);
        }
        50% {
            transform: rotate(-360deg);
        }
        75% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .close .rotateitclose {
        color: #ffffff;
        animation-name: rotateitclose;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes rotateitclose {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(180deg);
        }
        50% {
            transform: rotate(360deg);
        }
        75% {
            transform: rotate(-180deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .side_nav_bar {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        font-size: 23px;
        background-color: #05abe0;
        z-index: 1;
        justify-content: center;
        font-family: 'Cinzel Decorative', cursive;
        animation-name: openapp;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes openapp {
        0% {
            width: 0%;
        }
        100% {
            width: 50%;
        }
    }
    .testclose {
        animation-name: closeapp;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @keyframes closeapp {
        0% {
            width: 50%;
            background-color: #05abe0;
        }
        50% {
            width: 25%;
            background-color: #0292c2;
        }
        100% {
            width: 0%;
        }
    }
    .menu {
        padding-left: 18%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .menu a {
        padding-top: 20px;
        color: aliceblue;
    }
    .menu a:hover {
        color: #3281a8;
    }
    .connect-to-us {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .connect-to-us .address {
        padding-left: 18%;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .connect-to-us .address a {
        color: aliceblue;
        letter-spacing: 2px;
    }
    .connect-to-us .address .cn h5 {
        color: aliceblue;
    }
    .connect-to-us .address .cn h3 {
        color: aliceblue;
    }
    .connect-to-us .address .cn h3:hover {
        color: #3281a8;
        font-size: 25px;
    }
    .connect-to-us .address .cn h5:hover {
        color: #3281a8;
    }
    .connect-to-us .address a:hover {
        color: #3281a8;
    }
    .findushere {
        display: flex;
        width: 180px;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media only screen and (max-width:600px) {
    .close a {
        color: white;
        font-size: 25px;
        z-index: 2;
        top: 0;
        right: 0;
        padding: 10px 10px 10px 10px;
        position: absolute;
    }
    .close a:hover {
        cursor: pointer;
        font-size: 30px;
    }
    .close .rotateit {
        color: #ffffff;
        animation-name: rotateitnow;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes rotateitnow {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-180deg);
        }
        50% {
            transform: rotate(-360deg);
        }
        75% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .close .rotateitclose {
        color: #ffffff;
        animation-name: rotateitclose;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes rotateitclose {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(180deg);
        }
        50% {
            transform: rotate(360deg);
        }
        75% {
            transform: rotate(-180deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .side_nav_bar {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        font-size: 15px;
        background-color: #05abe0;
        z-index: 1;
        justify-content: center;
        font-family: 'Cinzel Decorative', cursive;
        animation-name: openapp;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes openapp {
        0% {
            width: 0%;
        }
        100% {
            width: 50%;
        }
    }
    .testclose {
        animation-name: closeapp;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @keyframes closeapp {
        0% {
            width: 50%;
            background-color: #05abe0;
        }
        50% {
            width: 25%;
            background-color: #0292c2;
        }
        100% {
            width: 0%;
        }
    }
    .menu {
        padding-left: 18%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .menu a {
        padding-top: 20px;
        color: aliceblue;
    }
    .menu a:hover {
        color: #3281a8;
    }
    .connect-to-us {
        position: absolute;
        top: 0;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .connect-to-us .address {
        padding-left: 18%;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .connect-to-us .address a {
        color: aliceblue;
        letter-spacing: 2px;
    }
    .connect-to-us .address .cn h5 {
        color: aliceblue;
    }
    .connect-to-us .address .cn h3 {
        color: aliceblue;
    }
    .connect-to-us .address .cn h3:hover {
        color: #3281a8;
        font-size: 15px;
    }
    .connect-to-us .address .cn h5:hover {
        color: #3281a8;
    }
    .connect-to-us .address a:hover {
        color: #3281a8;
    }
    .findushere {
        display: flex;
        width: 180px;
        justify-content: space-between;
        flex-direction: row;
    }
}