<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#"> <i class="fab fa-facebook-square"></i></a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-instagram"></i> </a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-twitter-square"></i></a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="artcleicon">
        <span class="material-icons">
            home
        </span>
    </div>
    <div class="navbar nav2">
        <nav class="tabs">
            <div class="selector"></div>
            <a href="#" class="search_bt">INSPIRATIONS</a>
            <a href="#" class="search_bt">TIPS</a>
            <a href="#" class="search_bt">IDEAS</a>
            <a href="#" class="default_pos search_bt">ARTICLES</a>
            <a href="#" class="search_bt">STORIES</a>
            <a href="#" class="search_bt">INFLUENCER</a>
        </nav>
        <div class="search_bar" hidden>
            <input type="search" name="search" id="">
        </div>
        <div class="search">
            <button class="search_btn">
                <span class="material-icons">
                    zoom_in
                </span>
            </button>
        </div>
        <div id="navburger">
            <button class="search_btn" onclick="myFunction()">
                <span class="material-icons">
                    apps
                </span>
            </button>
        </div>
    </div>
</div>