<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#"> <i class="fab fa-facebook-square"></i></a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-instagram"></i> </a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-twitter-square"></i></a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="artcleicon">
        <span class="material-icons">
            home
        </span>
    </div>
    <div class="navbar nav2">
        <nav class="tabs-interview">
            <div class="selector"></div>
            <a name="inspiration" class="search_bt" href="{% url 'allarticles' %}">INSPIRATIONS</a>
            <a name="idea" class="search_bt" href="{% url 'allarticles' %}">STARTUP-IDEAS</a>
            <a name="interview" class="search_bt" href="{% url 'allarticles' %}">INTERVIEWS</a>
            <a name="article" class="search_bt default_pos" href="{% url 'allarticles' %}">ARTICLES</a>
            <a name="story" class="search_bt" href="{% url 'allarticles' %}">STORIES</a>
            <a name="success_key" class="search_bt" href="{% url 'allarticles' %}">SUCCESS KEYS</a>
            <a name="influencer" class="search_bt" href="{% url 'allarticles' %}">INFLUENCERS</a>
        </nav>
        <div class="search_bar" hidden>
            <input type="search" name="search" id="">
        </div>
    </div>
</div>