<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#"> <i class="fab fa-facebook-square"></i></a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-instagram"></i> </a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-twitter-square"></i></a>
            <a class="nav-item nav-link" href="#"> <i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="artcleicon">
        <span class="material-icons">
            home
        </span>
    </div>
    <div class="navbar nav2">
        <nav class="tabs-interview">
            <div class="selector"></div>
            <a name="inspiration" class="search_bt">INSPIRATIONS</a>
            <a name="idea" class="search_bt">STARTUP-IDEAS</a>
            <a name="interview" class="search_bt">INTERVIEWS</a>
            <a name="article" class="search_bt default_pos">ARTICLES</a>
            <a name="story" class="search_bt">STORIES</a>
            <a name="success_key" class="search_bt">SUCCESS KEYS</a>
            <a name="influencer" class="search_bt">INFLUENCERS</a>
        </nav>
        <div class="search_bar" hidden>
            <input type="search" name="search" id="">
        </div>
    </div>
</div>