{% include 'index.html' %} {% block interview %}{% load index %}
<div class="heading">
    <div class="image">
        <img src="{{ article.profile.url }}" alt="">
    </div>
    <div class="title">
        <div class="morebtn">
            <button class="articlesocial"> <span>INTERVIEWS</span> </button>
            <button class="articlesocial"> <span>IDEAS</span> </button>
            <button class="articlesocial"> <span>STORIES</span> </button>
            <button class="articlesocial"> <span>INSPIRATIONS</span> </button>
        </div>
        <div>
            <h2> {{ interview.heading }}</h2>
        </div>
    </div>
</div>
<div class="about">
    {% for item in about %} {{ item|linebreaks }} {% endfor %}
</div>
<div class="question">
    {% for question,answer in normalQformat.items %}
    <h2 style="font-weight: 600;">{{ question|linebreaks }}</h2>
    <h3>{{ answer|linebreaks }}</h3><br> {% endfor %} {% for question,answer in listQformat.items %}
    <h2 style="font-weight: 600;">{{ question|linebreaks }}</h2> <br>
    <div id="point_list">
        {{ answer|index }}
    </div> <br> {% endfor %}
</div>
<div class="content-saperator">
</div>


{% endblock %}
<script src="/static/js/interview.js"></script>