<div class="side_nav_bar" hidden>
    <div class="connect-to-us">
        <div class="close">
            <a class="closed rotateit"><i class="far fa-times-circle"></i></a>
        </div>
        <div class="menu">
            <a name="inspiration" class="search_bt" href="{% url 'allarticles' %}">INSPIRATIONS</a>
            <a name="idea" class="search_bt" href="{% url 'allarticles' %}">STARTUP-IDEAS</a>
            <a name="interview" class="search_bt" href="{% url 'allarticles' %}">INTERVIEWS</a>
            <a name="article" class="search_bt default_pos" href="{% url 'allarticles' %}">ARTICLES</a>
            <a name="story" class="search_bt" href="{% url 'allarticles' %}">STORIES</a>
            <a name="success_key" class="search_bt" href="{% url 'allarticles' %}">SUCCESS KEYS</a>
            <a name="influencer" class="search_bt" href="{% url 'allarticles' %}">INFLUENCERS</a>
        </div> <br> <br>
        <div class="address">
            <a class="search_bt" href="#"> <i class="fas fa-map-marker-alt"></i> &nbsp; ADDRESS&nbsp;:</a>
            <a class="search_bt cn" href="">
                <h5>Mohan tower, No:50, Residency Rd</h5>
                <h5>Bengaluru, Karnataka 560000</h5>
            </a>
            <br>
            <a class="search_bt" href="#"><i class="fas fa-phone"></i> &nbsp; PHONE&nbsp;:</a>
            <a class="search_bt cn" href="">
                <h5>(+91) 79895 44139</h5>
                <h5>(+91) 70007 08083</h5>
            </a>
            <br>
            <a class="search_bt" href="#"><i class="far fa-hand-point-down"></i> &nbsp; FIND US HERE&nbsp;:</a>
            <a class="findushere cn">
                <h3><i class="fab fa-facebook-square"></i></h3>
                <h3><i class="fab fa-instagram"></i></h3>
                <h3><i class="fab fa-twitter-square"></i></h3>
                <h3><i class="fab fa-linkedin"></i></h3>
            </a>
        </div>
    </div>